#{extends 'main.html' /} #{set title:'Donation Report!' /}

<nav class="ui blue menu">
	<a class="ui item" href="/donate"><i class="large home icon"></i></a> <a
		class="ui active item" href="/donationReport"><i
		class="large line chart icon"></i></a> <a class="ui item" href="/logout"><i
		class="large sign out icon"></i></a>
</nav>

<div class="ui large header">Donation Report</div>
<div class="sub header">
	<h4>List Donations</h4>
</div>

<table class="ui  blue table">
	<thead>
		<tr>

			<th>Donors</th>
			<th>Amounts($)</th>
			<th>Method donated</th>
			<th>Date Donated</th>
		</tr>
	</thead>



	<tbody>
		<div class="ui list">
			#{list items: donators, as:'donors'} 
			#{list items: donors.donations,
			as: 'madeDonation'}
			<tr>

				<td>${madeDonation.from.email}</td>
				<td>${madeDonation.recieved}</td>
				<td>${madeDonation.methodDonated}</td>
				<td>${madeDonation.date}</td>
			</tr>
		</div>
		#{/list} 
		#{/list}
	</tbody>

</table>