#{extends 'main.html' /} #{set title:'Donations Mo Fo!' /}

<nav class="ui blue menu">
	<a class="ui active item" href="/donate"><i class="large home icon"></i></a>
	<a class="ui item" href="/donationReport"><i
		class="large line chart icon"></i></a> <a class="ui item" href="/logout"><i
		class="large sign out icon"></i></a>
</nav>

<section class="ui blue segment">
	<img src="/public/images/americanBanner.gif" width="100%" height="250px">



	<div class="ui  three column grid segment">
		<div class="ui column six wide">
			<div class="header">
				<h2>Welcome ${user.firstName} To The For President Donation
					site...</h2>
				<hr>
			</div>


			<div class="sub header">
				<h4>Please give what you can</h4>

			</div>

			<div class="sub header">
				<h4>We can't leave this to "THE OTHER PEOPLE"</h4>

			</div>
			<div class="sub header">
				<h4>We all need to be saved</h4>


			</div>
			<div class="sub header" >
				<h4 id="text"  >On this Donation page and please empty your wallet/handbags</h4>

			</div>
		</div>
		<div class="ui column four wide segment">
			<div class="sub header">
				<h4>Please give what u can!!</h4>
				<br>
			</div>
			<form class="ui form segment">
				<select name="recieved">
					<option value="10">10</option>
					<option value="20">20</option>
					<option value="50" selected>50</option>
					<option value="100">100</option>
					<option value="500">500</option>
					<option value="1000">1000</option>
					<option value="10000">10000</option>
				</select> <br> 
				
				<input type="radio" name="methodDonated" value="Paypal">Paypal<br>
				<input type="radio" name="methodDonated" value="Direct">Direct<br>
				
				<button class="ui red submit button">Donate</button>
			</form>
			
			<br>
			<div class="ui indicating progress" id="progress">
      <div class="bar">
        <div class="progress"></div>
      </div>
        
        <div class="label" id="progressLable">We are well on our way with ${progress}
          already.</div>
      </div>

		</div>

		<div class="ui column six wide">

			<img class="ui medium
       circular image"
				src="/public/images/homer.gif">
		</div>


	</div>
</section>

<script src="/public/javascripts/thankYou.js"></script>