#{extends 'main.html' /} #{set title:'Welcome' /}


<nav class="ui inverted red menu">
<a class = "active item" href ="/">Home</a>
  <a class="item" href="/signup"> Signup </a> <a class="item"
    href="/login"> Login </a>
</nav>

<section class="ui blue segment">
  <img src="public/images/americanBanner.gif" width="100%" height="250px">



  <div class="ui  two column grid segment">
    <div class="ui column eight wide">
      <div class="header">
        <h2>Welcome To The Homer For President
        Donation site...</h2>
        <hr>
      </div>


      <div class="sub header">
        <h4>Its time for a change</h4>

      </div>

      <div class="sub header">
        <h4>Out with boring Obama</h4>

      </div>
      <div class="sub header">
        <h4>Giving has never been so easy</h4>

      </div>
      <div class="sub header">
        <h4>
          Just click to <a class="item" href="/login"> Login </a>
        </h4>

      </div>
      <div class="sub header">
        <h4>Then go to the Donation page and empty your wallet/handbags</h4>

      </div>
    </div>
    <div class="ui column eight wide">

      <a href="/login"> <img class="ui medium
        circular image"
        src="/public/images/capHomer.gif"></a>
    </div>


  </div>

</section>
