#{extends 'main.html' /} #{set title:'Login to Donate' /}

<nav class="ui blue menu">
	<a class="item" href="/">Home</a> <a class="ui item" href="/signup">
		Signup </a> <a class="active item" href="/login"> Login </a><a
		class="item" href="/"> Exit </a>
</nav>

<section class="ui inverted blue form segment">
	<form action="/authenticate" method="POST">


		<div class="field">
			<label>Email</label> <input placeholder="Email" type="text"
				name="email">
		</div>


		<div class="field">
			<label>Password</label> <input type="Password" name="password">
		</div>
		<button class="ui submit button">Submit</button>
	</form>
</section>