#{extends 'main.html' /} #{set title:'Signup for Donate' /}

<nav class="ui blue menu">
	<a class="item" href="/">Home</a> <a class="active item" href="/signup">
		Signup </a> <a class="item" href="/login"> Login </a><a class="item"
		href="/"> Exit </a>
</nav>

<section class="ui inverted blue form segment">
	<form action="/register" method="POST">
		<div class="two fields">
			<div class="field">
				<label>First Name</label> <input placeholder="First Name"
					type="text" name="firstName">
			</div>
			<div class="field">
				<label>Last Name</label> <input placeholder="Last Name" type="text"
					name="lastName">
			</div>

		</div>
		<div class="field">
			<label>Email</label> <input placeholder="Email" type="text"
				name="email">
		</div>

		<div class="field">
			<label>Password</label> <input type="Password" name="password">
		</div>

		<div class="ui toggle checkbox">
			<input name="citizen" type="checkbox"> <label>Tick to
				confirm you are an American citizen </label>
		</div>


		<button class="ui submit button">Submit</button>

	</form>
</section>
